---
layout: default
title: Work
---
<div id="header-container">
	<p>
		<a class="hidden-link" href="/">Dan</a> / Work
	</p>
</div>
<div id="footer-container">
	<p>
		<a class="hidden-link" href="contact">Contact me</a>
	</p>
</div>
<div id="container">
	<div class="content-grid">
		<!-- if there isn't an order assigned, sort them to the last -->
		{% assign sorted_posts = site.posts | sort: 'date' | reverse %}
		<!-- loop through the posts -->
		{% for post in sorted_posts %}{% if post.hidden != true %}

		<div class="grid-item" style="{% if post.width %}width:{{ post.width }}%{% else %}height: 50vh{% endif %};">
			<a class="hidden-link" href="{{ post.url }}">
				<!-- <a href="{{ post.url }}"> -->
				{% if post.image %}
				<img {% if post.contrast %}class="contrast"{% endif %} src="{{ post.image }}" style="{% if post.width %}width:100%{% else %}height:100%;{% endif %};">
				{% endif %}
				{% if post.video %}
				<video autoplay loop muted playsinline {% if post.contrast %}class="contrast"{% endif %}
					style="{% if post.width %}width:100%{% else %}height:100%;{% endif %};">
					<source src="{{ post.video }}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				{% endif %}
				<!-- </a> -->
				<!-- {{ post.date | date: '%-m/%-d/%Y' }}<br /> -->
				<div id="caption-area">
					<p class="caption">{{ post.date | date: '%Y-%-m-%-d' }}<span class="spacer"></span>{{ post.title }}</p>
				</div>
			</a>
		</div>
		{% endif %}{% endfor %}
	</div>
</div>
<style>
	#container {
		max-width: 1800px;
		margin: 2rem;
		margin-top: 6rem;
	}

	#caption-area {
		display: flex;
		flex-direction: row;
	}

	#date {
		width: 7em;
	}

	.content-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px;
		align-items: end;
	}

	.grid-item {
		margin-bottom: 16px;
	}

	.grid-item img,
	.grid-item video {
		margin-bottom: .5rem;
	}

	.grid-item a,
	.grid-item a:active,
	.grid-item a:hover,
	.grid-item a:visited,
	.grid-item a:focus {
		color: var(--color-foreground);
	}

	.grid-item a,
	.grid-item a:active,
	.grid-item a:hover,
	.grid-item a:visited,
	.grid-item a:focus {
		/* border-bottom: none; */
		text-decoration: none;
	}

	@media screen and (max-width: 720px) {

		.grid-item {
			margin-left: 0;
			margin-right: 0;
			width: 100% !important;
		}
	}
</style>
<!-- <div id="footer-container">
    <p>

        Contact me by
        <a href="mailto:hi@imdantaylor.com">email</a>
        <br>
        or on
        <a href="http://instagram.com/im_dan_taylor">Instagram</a>
    </p>
</div> -->